.clock {
  font-size: 10px;
  width: 54px;
  height: 84px;
  position: relative;
}
.clock div {
  position: absolute;
  -webkit-border-style: solid;
  -moz-border-style: solid;
  -ms-border-style: solid;
  border-style: solid;
}
.clock .l,
.clock .r,
.clock .u,
.clock .d {
  width: 0;
  height: 0;
  overflow: hidden;
}
.clock .v {
  width: 0;
  height: 30px;
  border-width: 0 3px;
  border-color: #f28b33;
  -webkit-border-width: 0 3px;
  -webkit-border-color: #f28b33;
  -moz-border-width: 0 3px;
  -moz-border-color: #f28b33;
  -ms-border-width: 0 3px;
  -ms-border-color: #f28b33;
}
.clock .v .u {
  -ms-border-style: dotted dotted solid dotted;
  -ms-border-width: 0 3px 3px;
  -ms-border-color: transparent transparent #f28b33 transparent;
  -moz-border-style: dotted dotted solid dotted;
  -moz-border-width: 0 3px 3px;
  -moz-border-color: transparent transparent #f28b33 transparent;
  -webkit-border-style: dotted dotted solid dotted;
  -webkit-border-width: 0 3px 3px;
  -webkit-border-color: transparent transparent #f28b33 transparent;
  border-style: dotted dotted solid dotted;
  border-width: 0 3px 3px;
  border-color: transparent transparent #f28b33 transparent;
  top: -3px;
  left: -3px;
}
.clock .v .d {
  -ms-border-style: solid dotted dotted dotted;
  -ms-border-width: 3px 3px 0 3px;
  -ms-border-color: #f28b33 transparent transparent transparent;
  -moz-border-style: solid dotted dotted dotted;
  -moz-border-width: 3px 3px 0 3px;
  -moz-border-color: #f28b33 transparent transparent transparent;
  -webkit-border-style: solid dotted dotted dotted;
  -webkit-border-width: 3px 3px 0 3px;
  -webkit-border-color: #f28b33 transparent transparent transparent;
  border-style: solid dotted dotted dotted;
  border-width: 3px 3px 0 3px;
  border-color: #f28b33 transparent transparent transparent;
  left: -3px;
  bottom: -3px;
}
.clock .h {
  width: 33px;
  height: 0;
  -ms-border-width: 3px 0;
  -ms-border-color: #f28b33;
  -moz-border-width: 3px 0;
  -moz-border-color: #f28b33;
  -webkit-border-width: 3px 0;
  -webkit-border-color: #f28b33;
  border-width: 3px 0;
  border-color: #f28b33;
}
.clock .h .l {
  -ms-border-style: dotted solid dotted dotted;
  -ms-border-width: 3px 3px 3px 0;
  -ms-border-color: transparent #f28b33 transparent transparent;
  -moz-border-style: dotted solid dotted dotted;
  -moz-border-width: 3px 3px 3px 0;
  -moz-border-color: transparent #f28b33 transparent transparent;
  -webkit-border-style: dotted solid dotted dotted;
  -webkit-border-width: 3px 3px 3px 0;
  -webkit-border-color: transparent #f28b33 transparent transparent;
  border-style: dotted solid dotted dotted;
  border-width: 3px 3px 3px 0;
  border-color: transparent #f28b33 transparent transparent;
  top: -3px;
  left: -3px;
}
.clock .h .r {
  -ms-border-style: dotted dotted dotted solid;
  -ms-border-width: 3px 0 3px 3px;
  -ms-border-color: transparent transparent transparent #f28b33;
  -moz-border-style: dotted dotted dotted solid;
  -moz-border-width: 3px 0 3px 3px;
  -moz-border-color: transparent transparent transparent #f28b33;
  -webkit-border-style: dotted dotted dotted solid;
  -webkit-border-width: 3px 0 3px 3px;
  -webkit-border-color: transparent transparent transparent #f28b33;
  border-style: dotted dotted dotted solid;
  border-width: 3px 0 3px 3px;
  border-color: transparent transparent transparent #f28b33;
  top: -3px;
  right: -3px;
}
.clock .n1 {
  left: 3px;
  top: 9px;
}
.clock .n2 {
  left: 3px;
  top: 45px;
}
.clock .n4 {
  left: 45px;
  top: 45px;
}
.clock .n5 {
  left: 45px;
  top: 9px;
}
.clock .n6 {
  top: 2.4px;
  left: 10.8px;
}
.clock .n3 {
  top: 75px;
  left: 10.8px;
}
.clock .n7 {
  top: 39px;
  left: 10.8px;
}
.c1 .n1,
.c1 .n2,
.c1 .n3,
.c1 .n6,
.c1 .n7 {
  display: none;
}
.c2 .n1,
.c2 .n4 {
  display: none;
}
.c3 .n1,
.c3 .n2 {
  display: none;
}
.c4 .n2,
.c4 .n3,
.c4 .n6 {
  display: none;
}
.c5 .n5,
.c5 .n2 {
  display: none;
}
.c6 .n5 {
  display: none;
}
.c7 .n1,
.c7 .n2,
.c7 .n3,
.c7 .n7 {
  display: none;
}
.c9 .n2 {
  display: none;
}
.c0 .n7 {
  display: none;
}
.left {
  float: left;
}
